
.folder {
	position: relative;
	margin-top: 20px;
	margin-left: 10px; 
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: calc(100% - 10px);
	height: calc(100% - 50px);
	gap: 20px;
}

.file-div {
	display: flex;
	flex-direction: column;

	column-gap: 10px;
	width: 90px;
	height: 90px;
	align-items: center;
}

.file-button {
	width: 80%;
	height: 80%;
	background-color: var(--red);
	border: none;
	border-radius: 10px;
	z-index: 1;
}

.file-name {
	font: var(--size-10) "Outfit";
	color: var(--text-color);
	z-index: 1;
}

.file-clicked {
	position: absolute;
	background-color: #7798AB;
	margin-top: -8px;

	border: 1px solid #7798AB;
	border-radius: 10px;
	z-index: 0;

	animation: spawnOutline 250ms forwards ease;
}

@keyframes spawnOutline {
	0% {
		opacity: 1;
		height: 50px;
		width: 50px;
		margin: -0.25em;
		border-width: 0.5em;
	}
	100% {
		opacity: 0.2;
		height: 100px;
		width: 100px;
		border-width: 0.03em;
	}
}
