@import "./../../../globals.css";

.OpenedState {
	position: relative;
	top: 7%;
	transition: transform 0.2s;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: white;
	z-index: 1;
}

.AppBar {
	display: flex;
	position: absolute;
	bottom: 5vh;

	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 

	width: 70vw;
	height: 10vh;

	/* border: 2px solid var(--secondary-background-color); */
	background-color: var(--secondary-interface-color);
	box-shadow: 5px 5px 5px #00000020;
	border-radius: 25px;

	min-width: 600px;
	min-height: 90px;
	max-width: 750px;
	max-height: 100px;

	justify-content: space-evenly;
	
	/* background: radial-gradient(circle, var(--secondary-background-color) 0%, var(--primary-interface-color) 100%);; */
	/* border: calc(0.5vmin + 5px) solid #2D2424; */
}

.App {
	position: relative;
	display: inline-block;
	top: 10%;
	transition: transform 0.2s;
	width: auto;
	/* height: 9vmin; */
	/* min-height: 68px; */
	height: 70px;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	animation: smaller 0.2s ease-out;
	animation-fill-mode: forwards;
}

.Icon {
	font: 8px "Outfit";
}

.InfoText {
	display: block;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 50%;
	position: absolute;
	font: calc(5vmin + 15px) "Outfit";
	color: var(--header-color);
	opacity: 0;
	transition: opacity 0.2s;
}

.App:hover ~ .InfoText{
	opacity: 1;
}
.App:hover ~ .OpenedState {
	transform: translate(0, 35px)
}
.App:hover {
	cursor: pointer;
	transform: scale(1.25, 1.25);
}
