@import "./../../../globals.css";

.OpenedState {
	position: relative;
	bottom: -15%;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	width: 1vmin;
	height: 1vmin;
	border-radius: 50%;
	background-color: white;
	z-index: 1;
	animation: higher 0.2s ease-in;
	animation-fill-mode: forwards;
}

.AppBar {
	display: flex;
	position: absolute;
	bottom: 15vh;

	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 

	width: 70vw;
	height: 10vh;

	border-radius: 60px;

	min-width: 600px;
	min-height: 70px;
	/* max-width: 700px;
	max-height: 100px; */

	justify-content: space-evenly;
	
	background: radial-gradient(circle, var(--secondary-background-color) 0%, var(--primary-interface-color) 100%);;
	/* border: calc(0.5vmin + 5px) solid #2D2424; */
}

.App {
	position: relative;
	display: inline-block;
	width: auto;
	height: 9vmin;
	min-height: 68px;
	max-height: 110%;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	animation: smaller 0.2s ease-out;
	animation-fill-mode: forwards;
}

.InfoText {
	display: none;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: -200%;
	position: absolute;
	font: calc(5vmin + 15px) "Outfit";
	color: var(--primary-interface-color);
}

.App:hover ~ .InfoText{
	display: block;
	animation: fade-in 0.5s ease-in;
	animation-fill-mode: forwards;
}
.App:hover ~.OpenedState {
	animation: lower 0.2s ease-in;
	animation-fill-mode: forwards;
}
.App:hover {
	animation: bigger 0.2s ease-out;
	animation-fill-mode: forwards;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade-out {
	from { opacity: 1; }
	to {opacity: 0;}
}

@keyframes lower {
	from { bottom: -15%; }
	to {bottom: -25%;}
}
@keyframes higher {
	from { bottom: -25%; }
	to {bottom: -15%;}
}

@keyframes bigger {
	100% {
		transform: scale(1.25, 1.25);
	}
}
@keyframes smaller {
	from { transform: scale(1.25, 1.25);}
	to { transform: scale(1, 1); }
}

