.markdown {
	margin-top: 15px;
	z-index: 0;
	margin-bottom: 55px;
	font-family: "Open Sans";
	font-size: 14px;
	color: var(--text-color);
	user-select: text;
	--margin-left: 15px;
	margin-left: var(--margin-left);
	width: calc(100% - var(--margin-left) * 2);
}

.Scrollbar {
	margin-top: 3px;
}

@font-face {
	font-family: code-font;
	src: url("./../../public/assets/fonts/SourceCodePro-Italic-VariableFont_wght.ttf");
}

.button-pdf {
	display: flex;
	align-items: center;
	position: absolute;
	background: none;
	transition: transform 100ms;
	font-family: "Outfit";
	font-size: 10px;
	z-index: 2;
	border: none;
	color: var(--red);
}

.button-pdf-text {
	
}

.button-pdf:hover {
	transform: scale(1.2);
}
#button-pdf-download {
	bottom: 11px;
	right: 22px;
}


#profile-pic {
	display: block;
	width: 30%;
	height: auto;

	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	border-radius: 50%;
	z-index: 2;
	background-image: url('./../../public/images/pdp2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: none;
	/* border: 3px solid var(--red); */
}

.banner-image {
	display: block;
	position: relative;
	/* margin-left: var(--margin-left);
	width: calc(80% - var(--margin-left) * 2);
	height: auto; */
	
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.usage-image {
	--margin-left: 45px;
	margin-left: var(--margin-left);
	max-width: calc(100% - var(--margin-left) * 2);
	height: auto;
}

.markdown pre:hover, .markdown p:hover, .markdown ul:hover, .markdown h1:hover, .markdown h2:hover, .markdown h3:hover {
	cursor: text;
}

.markdown ul { padding: 0; margin: 0; }
.markdown p { padding: 0; margin: 0; }
.markdown pre { padding: 0; margin: 0; }

.markdown h1 ~ p, .markdown h1 ~ pre	{ --margin-left: 20px;}
.markdown h1 ~ ul						{ --margin-left: 40px; }

.markdown h2 ~ p, .markdown h2 ~ pre	{ --margin-left: 50px; }
.markdown h2 ~ ul						{ --margin-left: 70px; }

.markdown h3 ~ p, .markdown h3 ~ pre	{ --margin-left: 75px; }
.markdown h3 ~ ul						{ --margin-left: 95px; }

.markdown p, .markdown pre, .markdown ul {
	margin-left: var(--margin-left);
	width: calc(100% - var(--margin-left) - 15px);
}

.markdown code {
	background-color: #1E1F24;
	border-radius: 5px;
	padding: 2px;
}

.markdown h1 {
	background-color: #1E1F24;
	--padding: 10px;
	width: calc(100% - var(--margin-left) * 2 - var(--padding) * 2);
}
.markdown h2 {
	background-color: #1E1F2490;
	--padding: 10px;
	--margin-left: 45px;
	width: auto;
}
.markdown h3 {
	background-color: #1E1F2490;
	--padding: 10px;
	--margin-left: 70px;
	width: auto;
}

.markdown h1, .markdown h2, .markdown h3 {
	display: inline-block;
	margin-left: var(--margin-left);
	border-radius: 5px;
	padding: 2px;
	padding-left: var(--padding);
	padding-right: var(--padding);
	border: 2px solid #1E1F24;
}


a:link { 
	color: var(--red);
	text-decoration: none;
}
a:visited { 
	color: var(--red);
}

.subject-button {
	position: absolute;
	bottom: 10px;
	right: 20px;
	width: 85px;
	height: 35px;
	z-index: 2;
	color: var(--text-color);
	background-color: var(--background-color);
	border: 1px solid var(--red);
	border-radius: 5px;
	transition: transform 100ms;
}

.subject-button h1 {
	margin: 0;
	font: var(--size-20) "Outfit"
}

.subject-button:hover {
	transform: scale(1.15);
}
