@import "./../../globals.css";

#strikethrough-animation {
	animation: bigger 1s ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes bigger {
	100% {
		top: 12vmin;
		height: 15vmin;
	}
}

.strikethrough {
	display: inline-block;
	position: absolute;
	margin: 0 0 0 0;
	
	top: 20vmin;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

	z-index: 1;

	width: 100vmin;
	height: 1.5vmin;
	/* background-color: black; */
	background-color: var(--primary-background-color);
}

.header {
	display: inline-block;
	position: relative;
	margin: 0 0 0 0;
	padding-top: 10vmin;

	z-index: 0;

	color: var(--primary-interface-color);
	font: 15vmin "Outfit";
}
