.Canvas {
	width: 100%;
	height: 100%;
}

input[type=range].spoon-slider {
	-webkit-appearance: none;     /*nécessaire pour Chrome */
	padding: 0;                   /* nécessaire pour IE */
	font: inherit;                /* même rendu suivant font document */
	outline: none;
	color: #1E1F24;                  /* sert pour couleur de référence, via currentColor, pour le curseur */
	opacity: .8;
	background: #F4615A;             /* sert pour couleur de fond de la zone de déplacement */
	box-sizing: border-box;       /* même modèle de boîte pour tous */
	transition: opacity .2s;
	border-radius: 5000px;
	cursor: pointer;
  }

  input[type=range].spoon-slider::-moz-range-thumb {
	width: 1em;
	height: 80%;
	border: none;
	border-radius: 5000px;
	background: currentColor;
  }
  input[type=range].spoon-slider::-webkit-slider-thumb {
	-webkit-appearance: none;       /* également nécessaire sur le curseur */
	width: 1em;
	height: 80%;                /* s'adapte à la hauteur de l'input */
	border: none;
	border-radius: 5000px;               /* pris en compte sur Webkit et Edge */
	background: currentColor;       /* pris en compte sur Webkit only */
  }
  input[type=range].spoon-slider::-ms-thumb {
	width: 1em;
	height: 80%;                /* s'adapte à la hauteur de l'input */
	border: none;                   /* supprimer la bordure */
	border-radius: 5000px;               /* supprimer le rayon */
	background: currentColor;
  }