@import "./../../globals.css";

#login {
	display: block;
	position: relative;
	margin: 0 auto;
	top: 15%;

	width: 40vw;
	height: 30vh;

	min-width: 350px;
	min-height: 263px;
	max-width: 500px;
	max-height: 384px;

	background: radial-gradient(circle, var(--primary-interface-color) 0%, var(--secondary-background-color) 100%);
	
	border-radius: 60px;
}

#text-login {
	display: inline-block;
	position: relative;
	
	color: var(--text-color);
	font: 1.5em "Outfit";
}

#input-login {
	display: flex;
	position: relative;
	margin: 0 auto;
	margin-top: 5vh;
	bottom: 0%;

	height: 50%;
	width: 80%;

	flex-direction: column;
	justify-content: space-evenly;
}

.input {
	display: block;
	position: absolute;

	border-radius: 5vmin;
	height: 40%;
	width: 100%;
	max-height: 25px;

	border: none;
	color: white;
	background-color: var(--primary-background-color);
	
	box-sizing: border-box;
	outline: none;
	padding: 1em;
	pointer-events: none;
	
	font: 1em "Outfit";
}

#username-animation {
	animation: reduce_username 1.5s ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes reduce_username {
	0% {
		left: 0%;
	}
	70% {
		left: 45%;
		width: 0px;
		top: 0%;
	}
	100% {
		left: 45%;
		width: 0px;
		top: 25%;
	}
}

#password-animation {
	animation: reduce_password 1.5s ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes reduce_password {
	0% {
		left: 0%;
	}
	70% {
		left: 45%;
		width: 0px;
		top: 50%;
	}
	100% {
		left: 45%;
		width: 0px;
		top: 25%;
	}
}
