@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.Desktop {
	display: block;
	margin: 0 0 0 0;
	height: 100vh;
	width: 100vw;
	background-color: #38040e;
	z-index: 0;
	text-align: center;
}

.bg-rectangles-top-box {
	position: absolute;
	display: flex;
	margin: 0 0 0 0;

	left: 0vw;
	top: -5vh;

	width: 25vmin;
	height: 100vh;

	flex-direction: row;
	justify-content: space-evenly;

	z-index: 1;
}

.bg-rectangles-bot-box {
	position: absolute;
	display: flex;
	margin: 0 0 0 0;

	right: 0vw;
	bottom: 0vh;

	width: 100vw;
	height: 25vmin;

	flex-direction: column;
	justify-content: space-evenly;

	z-index: 1;
}

.bg-rectangle-top {
	position: relative;
	display: block;
	margin: 0 0 0 0;

	width: 5vmin;

	margin-top: 0;
	margin-bottom: auto;

	border-radius: 0em 0em 15em 15em;
	background-color: #800e13;
	/* box-shadow: 0.5em 0.5em 0.25em black; */
}
.bg-rectangle-bot {
	position: relative;
	display: block;
	margin: 0 0 0 0;

	height: 5vmin;

	margin-left: auto;
	margin-right: 0;
	
	border-radius: 15em 0em 0em 15em;
	background-color: #800e13;
	/* box-shadow: 0.5em 0.5em 0.25em black; */
}

#bg-top-rect-1 {
	height: 100vh;
}
#bg-top-rect-2 {
	height: 80vh;
}
#bg-top-rect-3 {
	height: 60vh;
}

#bg-bot-rect-1 {
	width: 50vw;
}
#bg-bot-rect-2 {
	width: 70vw;
}
#bg-bot-rect-3 {
	width: 90vw;
}

.header {
	display: inline-block;
	position: relative;
	margin: 0 0 0 0;
	
	top: 10vh;
	text-decoration: line-through #38040e;
	text-decoration-thickness: 1vmin;
	color: white;
	font: 10vmin "Outfit";
}

#login {
	display: block;
	position: relative;
	margin: 0 auto;
	top: 15%;

	width: 40vw;
	height: 30vh;

	background-color: #800e13;
	border-radius: 5em;

	/* box-shadow: 0.5em 0.5em 0.25em black; */
}

#text-login {
	display: inline-block;
	position: relative;
	
	color: #38040e;
	font: 4vmin "Outfit";
}

#input-login {
	display: flex;
	position: relative;
	margin: 0 auto;

	height: 15vh;
	width: 35vw;

	flex-direction: column;
	justify-content: space-evenly;
}

.input {
	display: block;
	position: relative;

	border-radius: 5em;
	height: 3vh;
	border: none;
	color: white;
	background-color:#2D2424;
	
	font: 1em "Outfit";
}
