@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

:root {
	--primary-background-color: #2D2424;
	--secondary-background-color: #EFCB68;
	--primary-interface-color: #EFCB68;
	--secondary-interface-color: #1E1F1F;
	--header-color: #EFCB68;
	--text-color: #2D2424;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
