@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

/* :root {
	--primary-background-color: #2D2424;
	--secondary-background-color: #EFCB68;
	--primary-interface-color: #EFCB68;
	--secondary-interface-color: #1E1F1F;
	--header-color: #EFCB68;
	--text-color: #2D2424;
} */

:root {
	--primary-background-color: #1E1F24;
	--secondary-background-color: #F4615A;
	--primary-interface-color: #FA883E;
	--secondary-interface-color: #1E1F1F;
	--header-color: #F4615A;
	--text-color: #2D2424;
}
