@import "globals.css";

.Portfolio {
	position: absolute;
	margin: 0 0 0 0;
	height: 100vh;
	width: 100vw;
	z-index: -4;
	background-color: var(--primary-background-color);
}

#logo {
	position: absolute;
	opacity: 0;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	animation: logo-anim 1.5s forwards ease;
	animation-delay: 0.5s;
}

@keyframes logo-anim {
	33% {
		opacity: 1;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate(-50%, -125%);
		transform: translate(-50%, -125%);
	}
}
@keyframes fade-in {
	100% {
		opacity: 1;
	}
}

#welcome-text {
	position: absolute;
	opacity: 0;
	margin: 0;
	padding: 0;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: white;
	background: none;
	font: 3em "Outfit";
	animation: fade-in 1s forwards ease;
	animation-delay: 1.5s;
}

#loading-back {
	stroke: #FFFFFF50;
}

#loading-part {
	animation: rotate-loading 1s both ease infinite;
	animation-delay: 3s;
	transform-origin: 25px 25px;
}

#loading {
	position: absolute;
	opacity: 0;
	margin: 0;
	padding: 0;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, 100%);
	transform: translate(-50%, 125%);
	animation: fade-in 0.5s ease 2.5s forwards;
}

@keyframes rotate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#background {
	position: absolute;
	height: 100vh;
	width: 100vw;
	transform: rotate(180deg);
	background-position: center;
	background-size: cover;
	z-index: -1;
	background-image: url("../public/images/background.jpg");
	background-repeat: repeat;
}

#opacity-bg {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 0;
	background: linear-gradient(90deg, rgba(0,0,0,0.9) 40%, rgba(0,0,0,0.1) 100%);
}

#screensaver {
	height: 100vh;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: center;
	opacity: 0;
	animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
	100% {
		opacity: 1;
	}
}

#dates {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: baseline;
	gap: 30px;
	margin-left: 20px;
	z-index: 1;
}

#time {
	margin: 0;
	padding: 0;
	font: 6em "Outfit";
	color: white;
}
#date {
	margin-top: -45px;
	padding: 0;
	font: 2em "Outfit";
	color: rgba(255, 255, 255, 0.5);
}
.break {
	flex-basis: 100%;
	height: 0;
}

#loading-flex {
	opacity: 0;
	animation: fade-in 1s forwards;	
}
#desktop-flex {
	opacity: 0;
	animation: fade-in 0.5s forwards;	
}

#lock-flex {
	margin-top: auto;
	display: flex;
	z-index: 1;
	align-items: center;
}

#login-text {
	font: 1.75em "Outfit";
	color: white;
}

#login-flex {
	position: absolute;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-60%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	z-index: 1;
	animation: fade-in 0.5s forwards;
}

#profile-pic {
	width: 20vmin;
	height: 20vmin;

	border-radius: 50%;
	z-index: 2;
	background-image: url('./../public/images/pdp2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 3px solid #F4615A;
}

#profile-name {
	color: white;
	font: 1.5em "Outfit";
}

#password-flex {
	margin-top: 20px;
	margin-left: 30px;
	padding: 0;
	display: flex;
	height: 70px;
	width: 30vw;
	align-items: center;
	flex-direction: row;
}
#password-input {
	background: none;
	flex-basis: 1;
	margin-bottom: 5px;
	align-self: flex-end;
	justify-self: flex-end;
	border: none;
	border: 3px solid transparent;
	border-radius: 5px;
	border-bottom: 3px solid #F4615A;
	transition: border 0.2s;

	width: 100%;

	color: white;
	font: 1.25em "Outfit";
	text-align: center;
}
#password-input:focus {
	outline: none;
	border-top: 3px solid #F4615A;
	border-left: 3px solid #F4615A;
	border-right: 3px solid #F4615A;
}

#password-eye {
	align-self: flex-end;
	transform: scale(0);
	justify-self: flex-end;
	transition: transform 0.2s;
}

#password-input:focus ~ #password-eye {
	transform: scale(1);
}

#inner-eye {
	transition: 0.5s;
}
#password-eye:hover > #inner-eye {
	ry: 2px;
}
#password-eye:hover {
	transform: scale(1.25);
}

#login-button {
	margin-top: 20px;
	width: 100px;
	height: 35px;
	border-radius: 5px;
	color: #F4615A;
	border: none;
	font: 1.5em "Outfit";
	text-align: center;
	transform: scale(1);
	background-color: var(--secondary-interface-color);
	transition: background-color 0.4s;
	animation: button-login-attract 0.5s 2.5s infinite both ease;
}

@keyframes button-login-attract {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

#login-button:hover {
	background-color: #2D2424;
}