@import "./../../globals.css";

.Desktop {
	height: 100vh;
	width: 100vw;
}

.nwse-resize {
	cursor: nwse-resize;
}

.nesw-resize {
	cursor: nesw-resize;
}

.ew-resize {
	cursor: ew-resize;
}

.ns-resize {
	cursor: ns-resize;
}

.default {
	cursor: default;
}
